*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f0f0;
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.container{
    background-color: white;
    width: 100%;
    height: auto;
    max-width: 500px;
    border-radius: 30px;
    box-shadow: 0 0 50px rgb(46, 46, 46);
    text-align: center;

    .title{
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
        padding: 10px;
        margin-bottom: 10px;
    }
}

.form-control{
    padding-bottom: 50px;
    input{
        background-color: #a5a5a586;
        border-radius: 10px;
        border: none;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        padding: 10px;
        min-width: auto;
        width: 60%;
        margin-right: 10px;
        margin-left: auto;
    }

    .submit-btn{
        background-color: #B81616;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        padding: 10px;
        border-radius: 10px;
        border: none;
        color: white;
        width: auto;
        min-width: 120px;
        min-height: 42px;
        height: auto;
    }
}

.item-list{
    overflow: hidden;
    border: 2px solid rgba(0, 0, 0, 0.473);
    margin: 0px 35px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.itemsList {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .btn-container{
      
    }
}