* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.container {
  padding: 2rem 0rem;
  background-color: white;
  width: 100%;
  height: auto;
  max-width: 500px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 50px #2e2e2e;
          box-shadow: 0 0 50px #2e2e2e;
  text-align: center;
}

.container .title {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.alert {
  border-radius: 7px;
  letter-spacing: 5px;
  font-weight: 400;
  font-family: 'Questrial', sans-serif;
  display: inline-block;
  width: 60%;
}

.alert-danger {
  color: #7e0000;
  background: rgba(192, 92, 92, 0.425);
}

.alert-success {
  color: #4bcc4b;
  background: rgba(32, 175, 156, 0.219);
}

.form-control {
  padding-bottom: 50px;
}

.form-control input {
  background-color: #a5a5a586;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  min-width: auto;
  width: 60%;
  margin-right: 10px;
  margin-left: auto;
}

.form-control .submit-btn {
  background-color: #B81616;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  width: auto;
  min-width: 120px;
  min-height: 42px;
  height: auto;
}

.item-list {
  overflow: hidden;
  border: 2px solid rgba(0, 0, 0, 0.473);
  margin: 0px 35px;
  border-radius: 20px;
}

.show-container {
  visibility: visible;
}

.itemsList {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 1fr;
      grid-template-columns: 4fr 1fr;
}

.itemsList .item-listTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 25px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.itemsList .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.itemsList .edit-btn {
  color: black;
  border: none;
  background: none;
  padding: 10px;
}

.itemsList .delete-btn {
  color: black;
  border: none;
  background: none;
  padding: 10px;
}

.clear-btn {
  margin-top: 25px;
  letter-spacing: 5px;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Poppins';
  border: 1px solid alpha(#00000000);
  padding: 5px 15px;
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */